@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: Aileron1;
  src: url(./assets/Aileron-Regular.otf);
}
@font-face{
  font-family: Aileron2;
  src: url(./assets/Aileron-Light.otf);
}
@font-face{
  font-family: AileronI;
  src: url(./assets/Aileron-italic.otf);
}
@font-face{
  font-family: AileronT;
  src: url(./assets/Aileron-Thin.otf);
}





body{
  background-color: black;
  color: aliceblue;
}